.payment-container {
  text-align: center;
  margin-top: 100px;
}

.icon-container {
  margin-top: 50px;
}

.icon-container p {
  font-size: 30px;
  color: green;
  font-weight: 300;
  margin-top: 10px;
}

.payment-title{
  color: green;
  font-size: 50px;
}

/*.payment-title p {
  font-size: 30px;
  color: green;
  font-weight: 300;
} Proxima Atualização*/

.payment-resume {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0 15px;
  border-top: 1px solid #ddd;
  color: green;
}
