.cart-resume {
  text-align: center;
}

.payment-method {
  text-align: center;
  margin-top: 20px;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Payment-icon {
  margin-top: 20px;
  cursor: pointer;
}

.Payment-icon:hover {
  zoom: 1.2;
}